/*body {
    background-color: #015A84;
    font-size: .85em;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #015A84;
    padding:0; 
}

a:visited {
    color: #e97b00;
}

a:hover {
    color: #696969;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
    padding: 30px 30px 15px 30px;
}

h1 {
    font-size: 1.5em;
    padding: 1em 8px;
    color: #333;    
    margin: 0;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
    color: White;  
}

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;    
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;    
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: White;    
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

 #menu {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
 #menu li {
      float: left; }
 #menu li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
 #menu li a:hover {
      color: #e97b00;
      background-color: #fff; }


fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}


table {
    border: solid 1px #ccc;
    border-collapse: collapse;
    background-color: White;
}

table td {
    padding: 5px;
    border: solid 1px  #ccc;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #f2f2f2;
    border: solid 1px  #ccc;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

div#logoutdisplay
{  
    color: White;
    padding: 0;  
}


div#logindisplay {
    display: block;    
    text-align: right;
}

#logindisplay a:link {
	display: inline-block;
	padding: 5px;
	outline: 0;
	font-weight: bold;
	font-size:  1.2em;
	text-decoration: none;
	cursor: pointer;
	color: white;    
}

#logindisplay a:visited {
    color: white;    
}

#logindisplay a:hover {
    color: #e97b00;
    text-decoration: none;
}


.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}*/

html body
{
    padding:0;
    margin:0;
    /*background:#2C3437;*/
    background:#eee;
    color:#404040;
}
body
{
    height:100%;
}
.page
{
   margin-left:100px;
   margin-right:100px;
   box-sizing:border-box;
  
}
div
{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
#main
{
    height:100%;
    min-width:980px;
    min-height:880px;
    position:relative;
}
h2
{
    font-size:30px;
    font-weight:bold;
    color:#000;
}
.login-form
{
   position:absolute;
   top:80px;
   left:300px;
   width:650px;
   height:420px;
}
.fieldset
{
    border:1px solid #fff;
    border-radius:8px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
    min-height:300px;
    padding:20px;
}
.login
{
    float:left;
    width:50%;
}
.editor-label
{
    font:18px/1.5em 'Microsoft YaHei';
    margin-top:8px;
}
.editor-field
{
    height:30px;
    width:300px;
    border:1px solid #cccccc;
    margin-top:5px;
}
.editor-field[placeholder]
{
    font-size:16px;
}
.adReg
{
    float:right;
    width:30%;
}
.login-button
{
   background-image:linear-gradient(to bottom,#08c,#04c);
   background-color:#006dcc;
   color:#fff;
   font-size:14px;
   cursor:pointer;
   min-width:62px;
   height:30px;
   border-radius:4px;
   float:right;
   border:10px;
}

