<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="EApp" type="Eagle.Core.Configuration.EAppConfigurationSection, Eagle.Core" />
    
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

  </configSections>

  <connectionStrings>
    <clear />
    <remove name="MeGrabAccountMySQL" />
    <add name="MeGrabAccountMySQL" 
         connectionString="port=3306;server=localhost;user id=root;password=xzjcool@1989;database=megrabaccount" 
         providerName="Eagle.Repositories.Lite.MySqlOrmLiteDialectProviderFactory, Eagle.Repositories.Lite" />
  </connectionStrings>
  
  <EApp>
    
    <application provider="Eagle.Core.Application.App, Eagle.Core" />
 
    <objectContainer provider="Eagle.Core.IoC.UnityObjectContainerFactory, Eagle.Core" initFromConfigFile="true" sectionName="unity"/>
    
    <serializationFormats default="Json">
      <format name="XML" type="Eagle.Common.Serialization.ObjectXmlSerializer, Eagle.Common" />
      <format name="Json" type="Eagle.Common.Serialization.ObjectJsonSerializer, Eagle.Common" />
    </serializationFormats>
    
    <redis writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" maxWritePoolSize="60" maxReadPoolSize="60" 
           autoStart="true" timeOutSeconds="3600"></redis>
  </EApp>

  <unity>
    <container>

      <register type="Eagle.Domain.Repositories.IRepositoryContext, Eagle.Domain" mapTo="Eagle.Repositories.Lite.LiteRepositoryContext, Eagle.Repositories.Lite">
        <lifetime type="external" />
      </register>
            
      <register type="MeGrab.Domain.Repositories.IMeGrabUserRepository, MeGrab.Domain" mapTo="MeGrab.Domain.Repositories.Lite.MeGrabUserRepository, MeGrab.Domain.Repositories"></register>
      
      <register type="MeGrab.ServiceContracts.IMeGrabUserService, MeGrab.ServiceContracts" mapTo="MeGrab.Application.MeGrabUserServiceImpl, MeGrab.Application"></register>

    </container>
  </unity>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <location path="~/Account/Login">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="~/Account/CreateUser">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <sessionState mode="Custom" cookieless="UseCookies" customProvider="RedisSessionStateStore" timeout="30">
      <providers>
        <clear />
        <add name="RedisSessionStateStore" type="Eagle.Web.Core.SessionProvider.RedisSessionStateStoreProvider, Eagle.Web.Core" 
             writeHosts="127.0.0.1:6379" readOnlyHosts="127.0.0.1:6379" />
      </providers>
    </sessionState>
    
    <authentication mode="Forms">
      <forms name="MeGrab" cookieless="UseCookies" loginUrl="~/Account/Login" timeout="30" path="/"/>
    </authentication>
    
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear />
        <remove name="MySqlMembershipProvider" />
        <add name="MySqlMembershipProvider" type="Eagle.Web.Security.MySqlMembershipProvider, Eagle.Web.Security" connectionStringName="MeGrabAccountMySQL" 
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" 
             applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" 
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" 
             minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Eagle.Web.Core.Mvc" />
      </namespaces>
    </pages>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>